<div class="register-page">
  <h2>Регистрация</h2>
  <p>Уже зарегистрировались?  <a style="color: #52ADCA" routerLink="/login">Войти</a></p>
  <form [formGroup]="registerForm">
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Имя</mat-label>
        <input matInput
               formControlName="name">
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Почта</mat-label>
        <input matInput
               formControlName="email">
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Пол</mat-label>
        <input matInput
               formControlName="sex">
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Цена</mat-label>
        <input matInput
               formControlName="price">
      </mat-form-field>
    </div>
    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Пароль</mat-label>
        <input type="password" matInput
               formControlName="password">
      </mat-form-field>
    </div>

    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Повторите пароль</mat-label>
        <input type="password" matInput
               formControlName="confirmedPassword">
      </mat-form-field>
    </div>

    <div class="justify-content-center">
      <mat-form-field appearance="outline">
        <mat-label>Описание</mat-label>
        <input matInput
               formControlName="description">
      </mat-form-field>
    </div>

    <div class="col">
      <img class="certificate" [src]="previewImgURL || 'https://img.freepik.com/free-vector/golden-luxury-certificate_52683-68838.jpg?w=2000'" alt="psy photo">

      <input type="file"
             style="display: none"
             #fileInput
             (change)="onFileSelected($event)">

      <div>
        <button mat-button (click)="fileInput.click()">Выберите файл</button>
        <button mat-button *ngIf="selectedFile" (click)="onUpload()">Загрузить</button>
      </div>
    </div>

    <button style="width: 15rem; background: #28a1be; margin-bottom: 200px"  [disabled]="registerForm.invalid" (click)="submit()" mat-flat-button >
      Зарегистрироваться
    </button>

  </form>
</div>
