<div *ngIf="isPsyDataLoaded" class="psy-profile">

  <h1>Profile</h1>
  <div style="text-align: right">
    <button mat-flat-button color="primary" (click)="openEditDialog()">Edit Info</button>
  </div>

  <div style="padding-top: 2rem" class="row">
    <div class="col">
      <img class="profile-image" [src]="previewImgURL || formatImage(psyProfileImage) || 'https://png.pngtree.com/png-clipart/20201208/original/pngtree-cartoon-family-avatar-face-picture-kid-png-image_5519203.jpg'" alt="psy photo">

      <input type="file"
             style="display: none"
             #fileInput
             (change)="onFileSelected($event)">

      <button mat-button (click)="fileInput.click()">Pick File</button>
      <button mat-button *ngIf="selectedFile" (click)="onUpload()">Upload</button>
    </div>
    <div class="col" style="text-align: left">

      <h2>{{psy.name}}</h2>

      <h3 style="font-style: italic">{{psy.description}}</h3>
    </div>

    <mat-divider style="margin: 2rem 0"></mat-divider>

    <router-outlet></router-outlet>

  </div>

</div>
